#bottom-bar {
  width: 100%;
  padding: 1rem 0;
  margin-top: 3rem;

  background-color: var(--card-background);
  border-top: var(--border-thickness) solid var(--border);

  display: flex;
  justify-content: center;
}

#bottom-bar .content {
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

#bottom-bar p {
  margin: 0;
  font-size: 0.9rem;
  opacity: 0.75;
}

#bottom-bar a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 600;

}

#bottom-bar a:hover {
  text-decoration: underline;
}