@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --background: #FFF;
  --text: #000;
  --card-background: #F3F3F3;
  --border:#AAA;
  --text-placeholder:#aaa;
  --border-thickness: 1px;
}

[data-theme="dark"] {
  --background: #282828;
  --text: #DEDEDE;
  --card-background: #202020;
  --border: #505050;
  --text-placeholder:#555;
}

body {
  max-width: 600px;
  margin: 2rem auto;
  line-height: 1.6;
  background: var(--background);
  color: var(--text);
  font-family: 'Manrope';
  font-weight: 100;
  transition: 0.3s;
}

body::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 800px;
  background: url('../img/foxhound-dd.png') center/contain no-repeat;
  transform: translate(-50%, -50%);
  opacity: 0.15;
  z-index: -1;
  pointer-events: none;
}

h1 {
  text-transform: uppercase;
}

b {
  font-weight: 600;
}

p {
 margin:0.5rem 0;
}

input {
  border: var(--border-thickness) solid;
  border-radius: 0px;
  border-color: var(--border);
  background-color:var(--background);
  color:var(--text);
  padding: 0.5rem 1rem;
  font-size: 16px;
  text-transform: uppercase;
}

input::placeholder {
  opacity: 0.8;
  font-style: italic;
  color:var(--text-placeholder);
}

.card {
  border: var(--border-thickness) solid var(--border);
  background-color: var(--card-background);
  border-radius: 0px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #007acc;
  color: white;
  text-decoration: none;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: 300;
}

.btn:hover {
  background: #005fa3;
}

#alphabet-list {
  display:flex;
  flex-direction: column;
  gap: 1rem;
}

#game-wrapper {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  max-width: 1200px;
  /* margin: 1rem auto; */
  min-height: 60vh;
}

#game {
  flex: 2;
  display: flex;
  flex-direction: column;
}

#game .card{
  flex: 2;
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  display:flex;
  gap: 1rem;
  width: stretch;
  flex-direction: row;
}

.input-wrapper input {
  flex:2;
}
.input-wrapper button {
  flex:1;
}

#instructions {
  flex:1;
  display: flex;
  flex-direction: column;
}

#instructions .card {
  flex:1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  #game-wrapper {
    flex-direction: column;
  }

  #game, #instructions {
    flex: none;
    width: 100%;
  }
}

.letter {
  font-size: 84px;
  text-align: center;
  font-weight: 600;
  line-height: 0;
  margin: auto;
}
