@import url('colors.css');

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --background: var(--color-bg-light);
  --foreground: var(--color-text-light);
  --card-background: var(--color-card-bg-light);
  --border: var(--color-border-light);
  --text-placeholder: var(--color-text-placeholder-light);
  --border-thickness: 1px;
}

[data-theme="dark"] {
  --background: var(--color-bg-dark);
  --foreground: var(--color-text-dark);
  --card-background: var(--color-card-bg-dark);
  --border: var(--color-border-dark);
  --text-placeholder: var(--color-text-placeholder-dark);
}

body {
  margin: auto;
  line-height: 1.6;
  background: var(--background);
  color: var(--foreground);
  font-family: 'Manrope';
  font-weight: 100;
  transition: 0.3s;
}

body::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 800px;
  background: url('../img/foxhound-dd.png') center/contain no-repeat;
  transform: translate(-50%, -50%);
  opacity: 0.15;
  z-index: -1;
  pointer-events: none;
}

h1 {
  text-transform: uppercase;
}

b {
  font-weight: 600;
}

p {
  margin: 0.5rem 0;
}

input {
  border: var(--border-thickness) solid;
  border-radius: 0px;
  border-color: var(--border);
  background-color: var(--background);
  color: var(--foreground);
  padding: 0.5rem 1rem;
  font-size: 16px;
  text-transform: uppercase;
}

input::placeholder {
  opacity: 0.8;
  font-style: italic;
  color: var(--text-placeholder);
}

input:focus {
  outline: none;
}

#top-bar {
  background-color: var(--card-background);
  padding: 0.4rem;
  border-bottom: var(--border-thickness) solid;
  border-color: var(--border);
  line-height: 0;
}

.content {
  max-width: 600px;
  margin: auto;
}

#top-bar .content {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
}

.card {
  border: var(--border-thickness) solid var(--border);
  background-color: var(--card-background);
  border-radius: 0px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #007acc;
  color: white;
  text-decoration: none;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: 300;
}

.btn:hover {
  background: #005fa3;
}