@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --bg: #fff;
  --text: #000;
  --card-background: #eee;
}

[data-theme="dark"] {
  --bg: #121212;
  --text: #eee;
  --card-background: #202020;
}

body {
  max-width: 600px;
  margin: 2rem auto;
  line-height: 1.6;
  background: var(--bg);
  color: var(--text);
  font-family: 'Manrope';
  font-weight: 100;
  transition: 0.3s;
}

body::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 800px;
  background: url('../img/foxhound-dd.png') center/contain no-repeat;
  transform: translate(-50%, -50%);
  opacity: 0.15;
  z-index: -1;
  pointer-events: none;
}

h1 {
  text-transform: uppercase;
}

.card {
  border: 1px solid #ccc;
  background-color: var(--card-background);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.btn {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background: #007acc;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.btn:hover {
  background: #005fa3;
}

#game-wrapper {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  max-width: 1200px;
  /* margin: 1rem auto; */
  min-height: 60vh;
}

#game {
  flex: 2;
  display: flex;
  flex-direction: column;
}

#game .card{
  flex: 2;
  display: flex;
  flex-direction: column;
}

#instructions {
  flex:1;
  display: flex;
  flex-direction: column;
}

#instructions .card {
  flex:1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  #game-wrapper {
    flex-direction: column;
  }

  #game, #instructions {
    flex: none;
    width: 100%;
  }
}

.letter {
  font-size: 84px;
  text-align: center;
  font-weight: 600;
  line-height: 0;
  margin: auto;
}
